* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
  }

  .botao {
    padding: 30px 60px;
    font-size: 28px;
    background: linear-gradient(45deg, #fcda43, yellow);
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px #fcda43;
    position: relative;
    z-index: 2;
  }

  .efeito-circulo {
    position: fixed;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #fcda43, yellow, white);
    border-radius: 80%;
    transform: translate(-90%, -80%) scale(0);
    animation: expandir 5s forwards;
    pointer-events: none;
    z-index: 5;
  }

  @keyframes expandir {
    0% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(30);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(0);
      opacity: 0;
    }
  }