body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../Imagens/fundo_caixaeletronico_desfocada_leve.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    background-position: center;
    background-attachment: fixed;
}

.PAI {
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.barra-superior {
    background-color: rgb(56, 56, 56);
    color: white;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.barra-inferior {
    background-color: rgb(170, 170, 170);
    color: white;
    height: 854px;
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    font-size: 60px;
    margin: 20px;
}

.teclado-pai {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 550px;
    margin-left: 295px;
    position: absolute;
    background-color: #494949;
    padding: 30px;
}

.button-numbers {
    background-color: #c0c0c0;
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 67px;
    height: 35px;
    transition: transform 0.1s ease;
}

.button-numbers:hover {
    transform: scale(0.95);
}

.teclado-numerico {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.teclado-linha {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.teclado-lateral {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.button-lateral {
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    width: 82px;
    height: 31px;
    transition: transform 0.1s ease;
}

.button-lateral:hover {
    transform: scale(0.95);
}

.botao-superior {
    background-color: #e2e2e2;
    color: black;
    border: 1px solid #494949;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 35px;
    transition: transform 0.1s ease;
}

.botao-superior:hover {
    transform: scale(0.95);
}

.botoes-laterais {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-top: 105px;
    margin-bottom: 40px;
}

.div-superior {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 140px;
    position: absolute;
    margin-top: -320px;
}

.tela {
    width: 550px;
    height: 350px;
    border: 7px solid #000000;
}

h2 {
    font-size: 22px;
    margin-left: 10px;
}

.tela-conta {
    width: 100%;
    height: 100%;
    background: url("../Imagens/1151629.jpg");
    background-size: cover;
    background-position: center;
}

h3 {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15%;
    height: 100%;
}

.opcoes {
    display: flex;
    margin-top: 13px;
    align-items: center;
    flex-direction: column;
    gap: 42px;
}

.opcao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px;
    width: 200px;
    background-color: #e2e2e2;
    height: 30px;
    color: #000;
    border: solid 2px #ffffff;
    border-radius: 10px;
}

.esquerda,
.direita {
    padding: 5px 10px;
}

.centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fcda43;
    color: #000;
    height: 35px;
}
.slot-cartao {
    position: absolute;
    width: 220px;
    height: 240px;
    margin-top: 210px;
    margin-left: 743px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; 
}

.cartao {
    width: 130px;
    position: relative;
    transform: translateY(-110px); 
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
}

.cartao.retirando {
    transform: translateY(0);
}

.inserircartao {
    width: 160px;
    height: 75px;
    background-color: #494949;
    border-radius: 29px;
    margin-left: 60px;
    margin-top: 170px;
}

.inserir {
    width: 140px;
    height: 10px;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -39.5px;
}

.detalhe {
    width: 97px;
    height: 65px;
    background-color: #e2e2e2;
    border-radius: 25px;
    margin-left: 55px;
    margin-top: 5px;
}

.sacar-dinheiro {
    width: 400px;
    height: 30px;
    background-color: #494949;
    margin-left: 282px;
    position: absolute;
    margin-top: 190px;
}

.dinheiro {
    width: 370px;
    height: 10px;
    background-color: #000000;
    margin-left: 15px;
    position: absolute;
    margin-top: 10px;
}

.sair {
    width: 550px;
}