.slot-cartao {
    height: 240px;
    overflow: hidden;
}

.cartao {
    width: 130px;
    position: relative;
    transform: translateY(-110px);
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    object-fit: cover;
    object-position: 0px 0px;
}

.cartao.retirando {
    transform: translateY(0);
}

.sair {
    width: 550px;
}