body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Fixa no fundo */
        background-color: black;
        
}
.PAI{
    position: relative;
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    background-image: url('telafundo.png');
    background-size: cover;
    background-position: center;
}
  
.teclado-pai {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 510px;
    margin-left: 285px;
    position: absolute;
    background-color: black;
    padding: 30px;

}

.button-numbers {
    background-color: #c0c0c0;
    color: black;
    border: 1px;
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 67px;
    height: 35px;
}
 
.teclado-numerico {
    display: flex;
    flex-direction: column;
    gap: 6px;

    
}

.teclado-linha {
    display: flex;
    flex-direction: row;
    gap: 7px;

}


.teclado-lateral{
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.button-lateral {
    color: black;
    border: 1px;
    border-radius: 20px;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 82px;
    height: 31px;
}

.botao-superior {
    background-color: #e2e2e2;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 35px;
    border-color: #ffffff;

}
.botoes-laterais {
    display: flex;
    flex-direction: column;
    gap: 7.5px;
    margin-top: 73px;
    margin-bottom: 40px;
}
.div-superior {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 147px;
    margin-left: 186px;
    position: absolute;
}
.tela {
    width: 430px;
    height: 277px;
}
.cartao {
    margin-top: 325px;
    margin-left: 827px;
    position: absolute;
    width: 101px;
    
}
.botao-cartao {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}