body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: url('Imagens/fundo_caixaeletronico_desfocada_leve.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    backdrop-filter: blur(8px);
    background-position: fixed;
    background-attachment: fixed;
}



.PAI {
    width: 1200px;
    height: 768px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.barra-superior {
    background-color: rgb(56, 56, 56);
    color: white;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.barra-inferior {
    background-color: rgb(170, 170, 170);
    color: white;
    height: 854px;
    display: flex;
    justify-content: left;
    align-items: center;

}

h1 {
    font-size: 60px;
    margin: 20px;
}

.teclado-pai {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 550px;
    margin-left: 295px;
    position: absolute;
    background-color: #494949;
    padding: 30px;

}

.button-numbers {
    background-color: #c0c0c0;
    color: black;
    border: 1px;
    border-radius: 15px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 67px;
    height: 35px;
}

.teclado-numerico {
    display: flex;
    flex-direction: column;
    gap: 6px;


}

.teclado-linha {
    display: flex;
    flex-direction: row;
    gap: 7px;

}


.teclado-lateral {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.button-lateral {
    color: black;
    border: 1px;
    border-radius: 20px;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 82px;
    height: 31px;
}

.botao-superior {
    background-color: #e2e2e2;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 35px;
    border-color: #494949;

}

.botoes-laterais {
    
        display: flex;
        flex-direction: column;
        gap: 41px;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    


.div-superior {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 140px;
    position: absolute;
    margin-top: -320px;
}

.tela {
    width: 550px;
    height: 350px;
    border: 7px solid;
    border-color: #000000;
}

.telasenha{
    width: 100%;
    height: 100%;
    background: url("Imagens/1151629.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.menu{
    display: flex;
    justify-content:center;
    gap: 45%;
    
    height: 100%;
}
.opcoes{
    display: flex;
    padding-top: 27px;
    align-items: center;
    flex-direction: column;
    gap: 42px;
    list-style: none;
}
header{
    display: flex;
    justify-content: left;
    align-items:center;
    background-color: #000;
    height: 30px;
}

.slot-cartao {
    position: absolute;
    width: 300px;
    height: 250px; /* Altura visível do cartão (parte de fora) */
    margin-top: 210px;
    margin-left: 780px;
    overflow: hidden;
    z-index: 2;
}

.cartao {
    width: 150px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao.inserido {
    transform: translateY(-70px) scale(1); /* Move o cartão parcialmente para dentro */
  }

.botao-cartao {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.inserircartao {
    width: 160px;
    height: 75px;
    background-color: #494949;
    border-radius: 29px;
    margin-left: 60px;
    margin-top: 170px;
}

.inserir {
    width: 140px;
    height: 10px;
    background-color: #000000;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -39.5px;

}

.detalhe {
    width: 97px;
    height: 65px;
    background-color: #e2e2e2;
    border-radius: 25px;
    margin-left: 55px;
    margin-top: 5px;

}

.sacar-dinheiro {
    width: 400px;
    height: 30px;
    background-color: #494949;
    margin-left: 282px;
    position: absolute;
    margin-top: 190px;

}

.dinheiro {
    width: 370px;
    height: 10px;
    background-color: #000000;
    margin-left: 15px;
    position: absolute;
    margin-top: 10px;


}


  
  @keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
  }


  .senha{
    
    margin-top: -75px;
    
    h2 {
        font-size: 24px;
        color:  #353434;
        text-align: center;
        justify-content: center;
    align-items: center;
        margin-bottom: 40px;
        width: 400px;
        height: 35px;
        background-color: #fcda43;
        border-radius: 20px;
      }

      input {
        border-radius: 6px;
        border: 1px solid #a7a7a7;
        width: 130px;
        padding: 10px 12px;
        font-size: 35px;
        margin-left: 130px;
        margin-top: 40px;
        text-align: center;
      }

      .amarelo{
        width:550px ;
        height:35px ;
        background-color: #fcda43;
        margin-top: -45px;
      }
    
      
      form{
        margin-left: 70px;
      }
  }
  
  .cinza{
    width:550px ;
    height:45px ;
    background-color: #3d3d3d;
    margin-top: -61px;

    p{
       color: #c0c0c0;
        font-size: 15px;
        text-align: center;
    }

    h3{
        color: #c0c0c0;
        font-size: 13px;
        margin-top: -30px;
        text-align: center;
    }
  }

  