.tela {
    width: 550px;
    height: 350px;
    border: 7px solid;
    border-color: #000000;
}

h2 {
    font-size: 18px;
    margin-left: 10px;
}

.tela-conta {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background: url("Imagens/1151629.jpg");
}

.mensagem-instrucao h3 {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 15%;
    height: 100%;
}

.opcoes {
    display: flex;
    margin-top: 13px;
    align-items: center;
    gap: 42px;
}

.opcao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 5px;
    width: 200px;
    background-color: #e2e2e2;
    height: 30px;
    color: #000;
    border: solid 2px #ffffff;
    border-radius: 10px;
}

.esquerda,
.direita {
    padding: 5px 10px;
}

.centro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}


header {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fcda43;
    color: #000;
    height: 35px;
}

.slot-cartao {
    position: absolute;
    width: 220px;
    height: 150px;
    margin-top: 210px;
    margin-left: 743px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartao {
    width: 130px;
    object-fit: cover;
    object-position: 0px -110px;

}

/* Saldo */
.valor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 315px;
    position: relative;
}

.container {
    margin-top: 15px;
    width: 300px;
    height: 150px;
    margin: 20px auto;
    padding: 0px;
    border: 2px solid;
    border-color: #fcda43;
    background-color: #1b1b1b;
    border-radius: 12px;
    box-shadow: 0 0 15px #fcda43(0, 255, 128, 0.3);
    color: #ffffff;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fcda43;
}


.valor-saldo {
    font-size: 30px;
}


/* Senha */
.telasenha {
    width: 100%;
    height: 100%;
    background: url("Imagens/1151629.jpg");
    display: flex;
    justify-content: center;
    align-items: center;

}


.senha {

    margin-top: -75px;
    pointer-events: none;

    h2 {
        font-size: 24px;
        color: #353434;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        width: 400px;
        height: 35px;
        background-color: #fcda43;
        border-radius: 20px;
    }

    input {
        border-radius: 6px;
        border: 1px solid #a7a7a7;
        width: 130px;
        padding: 10px 12px;
        font-size: 35px;
        margin-left: 130px;
        margin-top: 40px;
        text-align: center;
    }

    .amarelo {
        width: 550px;
        height: 35px;
        background-color: #fcda43;
        margin-top: -45px;
    }


    form {
        margin-left: 70px;
    }
}

.cinza {
    width: 550px;
    height: 45px;
    background-color: #3d3d3d;
    margin-top: -61px;

    p {
        color: #c0c0c0;
        font-size: 15px;
        text-align: center;
    }

    h3 {
        color: #c0c0c0;
        font-size: 13px;
        margin-top: -30px;
        text-align: center;
    }
}

#mensagem {
    position: fixed;
    background-color: #ccc;
    color: #000;
    padding: 30px 15px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
    display: none;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 175px;
    margin-left: 210px;
}