* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: url('Imagens/teleinicio.png') ;
  background-size: cover;
  font-family: Arial, sans-serif;
  overflow: hidden;
 background-color: black;
}

.caixa-container {
  display: flex;
  gap: 50px;
}

.btn-invisivel {
  position: absolute;
  width: 12%;    
  height: 30%;   
  opacity: 0;    
  cursor: pointer;
  border: none;
  background: black;
  z-index: 9999;

}

.btn-invisivel2 {
  position: absolute;
  width: 18%;    
  height: 30%;   
  opacity: 0;    
  cursor: pointer;
  border: none;
  background: black;
  z-index: 9999;

}

.btn-invisivel3 {
  position: absolute;
  width: 25%;    
  height: 40%;   
  opacity: 0;    
  cursor: pointer;
  border: none;
  background: black;
  z-index: 9999;

}

.efeito-circulo {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #fcda43;
  border-radius: 50%;
  transform: translate(-70%, -70%) scale(0);
  opacity: 1;
  animation: expandir 3s forwards;
  z-index: 9999;
}

p{
  font-size: large;
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
}


@keyframes expandir {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(30);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.seta-amarela {
  position: absolute;
  top: 14%;         /* ajuste conforme necessário */
  left: 35%;        /* ajuste para posicionar sobre o caixa */
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffbb00; /* esta é a seta */
  animation: subirDescer 1s infinite ease-in-out;
  z-index: 9999;
}
.seta-amarela2 {
  position: absolute;
  top: 9%;         /* ajuste conforme necessário */
  left: 52%;        /* ajuste para posicionar sobre o caixa */
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffbb00; /* esta é a seta */
  animation: subirDescer 1s infinite ease-in-out;
  z-index: 9999;

}
.seta-amarela3 {
  position: absolute;
  top: 3%;         /* ajuste conforme necessário */
  left: 77%;        /* ajuste para posicionar sobre o caixa */
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #ffbb00; /* esta é a seta */
  animation: subirDescer 1s infinite ease-in-out;
  z-index: 9999;
}

@keyframes subirDescer {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(15px); }
  100% { transform: translateY(0); }
}